.newsCard {
    position: relative;
    height: auto;
    width: auto;
    padding:1vh!important;
    background: #D1F4CC;
    border: 3px blue solid;
    border-radius:0 5px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.newsCard:before,.newsCard2:before  {
    content: "";
    position: absolute;
    right: 100%;
    top: -3px;
    width: 0;
    height: 0;
    border-top: 10px solid #D1F4CC;
    border-left: 10px solid transparent;

  }
.newsCard .shareImg,.newsCard2 .shareImg{
    height:17px;
    width: 18px;
    position: absolute;
    left: 104%;
    top: 75px;
}  

.newsCard .newsImg,.newsCard2 .newsImg {
    height: 70%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.newsCard2 {
    position: relative;
    height: auto;
    width: auto;
    padding:1vh!important;
    background: #D1F4CC;
    border: 3px red solid;
    border-radius:0 5px 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

